a {
	text-decoration: none;
	font-family: "Courier New", Courier, Monaco;
	font-style: normal;
	font-weight: 600;
	font-size: clamp(5.5rem, 1vw + 1rem, 8rem);
	z-index: 8;
	color: rgb(255, 255, 255);
}


a:hover {
	font-weight: bold;
}

body {
	background-color: #0a0a0a;;
	color: rgb(231, 202, 202);
}

img {
	width: clamp(1000px, 100%, 1000px);
	padding-left: 0.5%;
}


pre {
	font-size: 4pt;
	font-family: "Courier New", Courier, Monaco;
	padding-top: 0.1%;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


b {
	font-size: clamp(2.52rem, 1vw + 1rem, 6rem);
	font-family: "Courier New", Courier, Monaco;
	padding-top: 0.2%;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
