a {
	text-decoration: none;
	font-family: "Courier New", Courier, Monaco;
	font-style: normal;
	font-weight: 600;
	font-size: 64pt;
	z-index: 8;
    padding-left: 5.5%;
	color: rgb(255, 255, 255);
}


a:hover {
	font-weight: bold;
}

body {
	background-color: #0a0a0a;;
	color: #FFF;
}

img {
	padding-top: 0.1%;
	padding-left: 1%;
}

pre {
	font-size: 2pt;
	font-family: "Courier New", Courier, Monaco;
	padding-top: 0.1%;
	padding-left: 1%;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


b {
	font-size: 30pt;
	font-family: "Courier New", Courier, Monaco;
	padding-top: 1.5%;
	padding-left: 1%;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

p {
	font-size: 12pt;
	font-family: "Courier New", Courier, Monaco;
    font-weight: 600;
	padding-top: 0.1%;
	padding-left: 1%;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.container {
    position: absolute;
    top: 0%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(0%);
}
